<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=localhost:1521/XE;User Id=Milestone1;Password=23049014;"
         providerName="System.Data.OracleClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <trust level="Full" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>